// Mq Desktop

@media screen and (min-width:1024px){
    body{
        background-color:darksalmon;
    }
    main .img-4-n, main .img-5-n{
        display: block;
    }

    main .img-1-n{
        grid-column: span 2;
    }

    main .img-3-n{
        grid-row: span ;
    }
}