// MQ Tablets

@media screen and (min-width:600px){
    body{
        background-color:cadetblue;
    }
    main{
        grid-template-columns: repeat(2);
        grid-template-rows: repeat(2);
    }

    main div .img-2-n{
        grid-column: span 2;
    }
}